{{- define "main" }}
<header class="page-header">
    <h1>贴代码</h1>
</header>

<div class="post-content">

<p>
Talk is cheap, show me the code. <a href="./?url=roger://post/2021-11/codes/P1393.cpp">一个栗子</a>。
</p>

<pre>
<code id="codes" class="hljs cpp">404 page not found
使用方式：https://&lt;here-url&gt;?url=&lt;path-to-cpp&gt;</code>
</pre>

</div>
<script>
    function getQueryVariable(variable) {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
            let pair = vars[i].split("=");
            if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
    }

    window.onload = load;

    function load() {
        url = getQueryVariable("url");
        if (!url)
            return;
        console.log(url.substring(0, 4));
        if (url.startsWith("roger://")) {
            lt = window.location;
            tmp_url = lt.protocol + "//" + lt.host + lt.pathname;
            post_url = tmp_url + "../../../";
            url = post_url + url.substring(8);
        }
        console.log("ask " + url);
        codes.innerText = "loading...";
        fetch(url)
            .then(response => response.text())
            .then(data => {
                console.log(data);
                data = data.replaceAll("<", "&lt;");
                data = data.replaceAll(">", "&gt;");
                console.log(data);
                codes.innerHTML = data;
                hljs.highlightBlock(codes);
            });
    }


</script>
{{- end }}{{/* end main */}}