<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>模板 Generate</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

    </head>
    <style>
        textarea {
            font-family: monospace, Consolas, Courier, monospace;
        }
    </style>
    <body>
        <script>
            var base_path = "https://cdn.jsdelivr.net/gh/rogeryoungh/code-of-acm@main/";

            var ans = "";

            var reg = /(?!=#include(\s*))\"template(\S*)\"/g;;

            function generate() {
                document.getElementById("outputs").value = "Waiting...";
                let inputs = document.getElementById("inputs").value;
                var substr = inputs.match(reg);
                console.log(substr);

                ans = "// TEMPLATE BEGIN\n// GENERATE FROM https://github.com/rogeryoungh/code-of-acm\n#pragma region\n";
                
                getFile(substr, 0);
            }


            function getFile(substr, index) {
                if (substr == null || index >= substr.length) {
                    ans += "\n\n#pragma endregion\n// TEMPLATE END";
                    document.getElementById("outputs").value = ans;
                    return;
                }
                let element = substr[index];
                let path = base_path + element.substring(1, element.length - 1);
                console.log("ask " + path);
                fetch(path)
                    .then(response => response.text())
                    .then(data => {
                        console.log(data);
                        let re_start = data.indexOf("#ifndef RYLOCAL");
                        let re_end = data.indexOf("#endif");
                        console.log("start = " + re_start + " end = " + re_end);
                        let tdata = data.substring(0, re_start - 1) + data.substring(re_end + "#endif".length + 1, data.length);
                        console.log(tdata);

                        ans += tdata + "\n";
                        getFile(substr, index+1);
                    });
            }
        </script>

        <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 text-center">ACM 模板生成</h1>
            <div class="row align-items-start g-5">
                
            <div class="col-md">
                <h4 class="mt-5">头文件</h4>
                <textarea class="form-control" placeholder="#include .h" rows="15" id="inputs"></textarea>
            </div>


            <div class="col-md">
                <h4 class="mt-5">生成结果</h4>
                <textarea class="form-control" placeholder="code..." rows="15" id="outputs"></textarea>
            </div>
            
            </div>


            <div class="mt-5 text-center">
                <button type="button" class="btn btn-primary" onclick="generate()">Primary</button>
            </div>
        </div>
        </main>
    </body>
</html>