Diagnostics:
  ClangTidy:
    Add: [ performance-*, portability-*, modernize-* ]
    Remove: [ modernize-use-trailing-return-type, modernize-use-nodiscard ]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
  UnusedIncludes: Strict

CompileFlags:
  Add: [-xc++, -Wall, -Wextra, -std=c++20, -Wno-sign-compare]
  Compiler: clang++
