Diagnostics:
  ClangTidy:
    Add: [ performance-*, portability-*, modernize-* ]
    Remove: [ modernize-use-trailing-return-type ]
    CheckOptions:
      readability-identifier-naming.VariableCase: CamelCase
  UnusedIncludes: Strict

CompileFlags:
  Add: [-xc++, -Wall, -Wextra, -std=c++20, -Wno-sign-compare, -I/home/roger/Code/ACM/code-of-acm/template/src]
  Compiler: clang++
