BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: '2'
Language: Cpp
TabWidth: '2'
UseTab: Always
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
SortIncludes: false
AlignEscapedNewlines: Left
