.vscode/
archive-code/
temp/
template/book/
template/**/*.cpp.full
template/**/*.hpp.full
template/.xmake/
template/build/
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/


*.pdf
__latexident*.tex
*.aux
*.out
*.log
*.synctex.gz
*.toc
